body {
    margin: 0;
    padding: 0;
    font-family: 'Corbel', Arial, sans-serif;
    background: #E0FFFF;
}

#container{
  margin: 2% 2% 2% 2%;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #bae8e8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #64c4ed;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #conatiner{
    margin: 2%;
    text-align: center;
  }

  #conatiner img{
    margin: 2%;
  }

  .submit-btn{
    margin: 2%;
  }

  .submit-btn{
    background: white;
    width: 10%;
  }

  button:hover{
    cursor: pointer;
  }